
@{
    ViewBag.Title = "Secretaria Social";
}

<h2>Secretaria Social</h2>

<div class="jumbotron">
    <p>
        O presente Inquerito tem como objectivo recolher informações junto da população em
        geral sobre as causas e consequências dos comportamentos negativos de jovens e adultos em
        Angola.
    </p>
    <p>
        Por favor, colabore connosco e dê as suas opiniôes sobre cada uma das perguntas.
    </p>
</div>

