
@{
    ViewBag.Title = "_FooterModal";
    Layout = null;   
}

<div class="modal-footer">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-success" id="Submit" />
            <input type="button" value="Cancelar" class="btn btn-danger" data-dismiss="modal" />
        </div>
    </div>
</div>