.fundo {
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

.papelA {
    width: 80%;
    background-color: #ffffff;
    margin: 5px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}

.fundo .navbar {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(29,175,226);
}

.fundo .navbar-brand {
    color: #ffffff;
}

.fundo footer {
    margin: 5px 10% auto 10%;
    background-color: rgb(29,175,226);
    padding: 10px;
}

footer p {
    text-align: center;
}
/*Formatação do master*/
.master {
    margin-left: 50px;
}
.master .dropdown{
    margin-top: 50px;
}
.master .form-control{
    
}
