@{
    ViewBag.Title = "Fale connosco";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Conego Manuel das Neves<br />
    Luanda, LD +244<br />
    <abbr title="Telefone">P:</abbr>
    927 358 319 / 925 042 327
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">support@superfacil.co.ao</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@superfacil.co.ao</a>
</address>